.game {
    width: 600px;
    height: 200px;
    border-bottom: 2px solid black;
    margin: auto;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url("image/dino.png");
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
#cactus {
    width: 45px;
    height: 45px;
    background-image: url("image/cactus.png");
    background-size: 40px 50px;
    position: relative;
    top: 105px;
    left: 575px;
    animation: cactusMove 1.5s infinite linear;
}

@keyframes cactusMove {
    0% {
        left: 575px;
    }
    100% {
        left: -25px;
    }
}

.jump {
    animation: jumpDino 0.5gs linear;
}

@keyframes jumpDino {
    0% {
        top: 150px;
    }
    10%{
        top: 140px;
    }
    30% {
        top: 130px;
    }
    45% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    65% {
        top: 100px;
    }
    80% {
        top: 130px;
    }
    90% {
        top: 140px;
    }
    100% {
        top: 150px;
    }
}